@()

@main(title = "Slumbot", jsFile = "index.js") {


    <div class="row">
        <div class="col-md-6 col-sm-8">
            <div id="search-box">
                <div class="input-group">
                    <input type="text" class="form-control" id="pac-input" placeholder="Enter an address..." value="86 E 4th St, New York, NY">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="search-btn">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <p class="help-block" style="display: none"></p>
            </div>
        </div>
    </div>

}
