@(placeDetails: GooglePlace, sources: Seq[SubInfoFormatter[_]])

@main(title = s"Slumbot - ${placeDetails.name}", jsFile = "info.js") {

    <h1>Info for @placeDetails.name</h1>

    <ul id="sources-done">
    </ul>

    <div id="sources-working">
        <h3>Working...</h3>

        @for(source <- sources) {
            <li class="source" data-source-slug="@source.slug">
                <h5><strong>@source.name</strong>: @source.description</h5>
                <div class="sub-details"></div>
            </li>
        }
    </div>

    <script>
        var placeRef = "@placeDetails.placeRef";
    </script>
}
